#logoFooter{
    vertical-align: middle;
    width: 5%;
    height: 5%;
    padding-top: 10px;
}

.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tituloFiltros{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tituloFiltrosContent{
    margin: 0;
}