body {
    background-color: #f3f3f3;
}

#navbarColum{
    background-color: rgb(37,40,58) !important;
    
}

#nav{
    overflow: hidden !important;
    top: 0 !important;
    bottom: 0 !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#Contenido{
    height: 100vh !important;
}

#capaContenido{
    overflow: auto !important;
    top: 0 !important;
    bottom: 0 !important;
    height: 100% !important;
    max-height: 100vh !important;
    padding: 0 !important;
    margin: 0 !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

a, a:visited{
    color: white !important;
}

#capaFiltros{
    background-color: white;

    margin: 1rem !important;
    margin-right: 1rem !important;
    margin-bottom: 50px !important;
}

#capaResultado{
    background-color: white;
    margin: 1rem !important;
    margin-bottom: 100px !important;
}

#footer{
    background-color: rgb(46, 48, 63);
    height: auto !important;
    color: white;
    bottom: 0 !important;
    z-index: 100;
    padding: 1rem !important;
    margin-bottom: 0 !important;
    margin: 0 !important;
}